<!DOCTYPE html>
<html>
  <head>
    <title>RailsApplication</title>
    <%= csrf_meta_tags %>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <!-- I Prefer 'Lodash' -->
    <!-- <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script> -->
    <!-- Latest Boostrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <!-- Optional Boostrap theme CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="application-container">
      <%= yield %>
    </div>
  </body>
</html>
